<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Include the Navbar -->
 {{> navbar}}


  <!-- Home content -->
  <h1>Welcome to the Homepage</h1>
  <!-- Other content for the homepage -->
</body>
</html>
